dspy-ai==2.5.12
duckduckgo_search==6.3.2
hf_transfer==0.1.8
ipykernel==6.29.5
ipython==8.27.0
isort==5.13.2
jinja2==3.1.4
jupyter-console==6.6.3
llama-index-embeddings-nvidia==0.2.3
llama-index-embeddings-openai==0.2.4
llama-index-llms-nvidia==0.2.6
mypy==1.12.0
nest-asyncio==1.6.0
pip==24.2
ruff==0.7.0
streamlit==1.39.0
uvloop==0.21.0
vllm==0.6.3.post1
--index-url https://flashinfer.ai/whl/cu124/torch2.4
flashinfer==0.1.6
